@use "../vars" as *;
@use "../mixins" as *;
@use "../mixins" as *;

.hero {
  padding: 60px 0;

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding: 40px 0 73px;
  }

  &__head-group {
    margin-bottom: 24px;
    font-family: $second-family;
  }

  &__title {
    @extend %sectionTitle;
    @include dynamicFontSize(80, 120, 1024, 1440);

    @include laptop {
      @include dynamicFontSize(58, 80, 768, 1024);
    }

    @include tablet {
      @include dynamicFontSize(40, 58, 320, 768);
    }
  }

  &__subtitle {
    font-style: italic;
    @include dynamicFontSize(32, 40, 1024, 1440);
    text-align: right;
    color: $dark;

    @include laptop {
      @include dynamicFontSize(24, 32, 768, 1024);
    }

    @include tablet {
      @include dynamicFontSize(28, 24, 320, 768);
    }
  }

  &__group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(24 / 1300 * 100%);
  }

  &__image {
    object-fit: cover;
    @include dynamicWidthImage(284, 1300);
    aspect-ratio: 284 / 352;
    overflow: hidden;

    &_left {
      border-radius: 400px 400px 400px 0;
    }

    &_center {
      @include dynamicWidthImage(680, 1300);
      aspect-ratio: 680 / 588;
    }

    &-center {
      width: 100%;
      height: 100%;
      background: url("/img/hero/hero@1x.jpg") no-repeat center / cover;
      background-image: image-set(
          url("/img/hero/hero@1x.avif") type('image/avif') 1x,
          url("/img/hero/hero@2x.avif") type('image/avif') 2x,
          url("/img/hero/hero@1x.webp") type('image/webp') 1x,
          url("/img/hero/hero@2x.webp") type('image/webp') 2x,
          url("/img/hero/hero@1x.jpg") type('image/jpg') 1x,
          url("/img/hero/hero@2x.jpg") type('image/jpg') 2x
      )
    }

    &_right {
      border-radius: 400px 0 400px 400px;
    }
  }
}
